:root {
  --background-clr: #ffe6a7;
  --primary-clr: #bb9457;
  --secondary-clr: #f3c969;
  --text-clr: #000000;
  --text-alt-clr: #ffffff;
  --accent-clr: #d1ffc6;
}

html {
  font-family: 'Happy Monkey', serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-clr);
}

body {
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-clr);
  text-shadow: 2px 2px 2px var(--text-alt-clr);
}

.container {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todo-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--primary-clr);
  border-radius: 1000px;
  font: inherit;
  color: var(--text-clr);
  caret-color: var(--accent-clr);
}

#todo-input:focus {
  outline: 1px solid var(--primary-clr);
}

form {
  position: relative;
}

#add-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-clr);
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  color: var(--text-alt-clr);
  cursor: pointer;
}

#todo-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.todo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: var(--secondary-clr);
  border-radius: 15px;
  gap: 10px;
  width: 100%;
}

.todo-text {
  flex-grow: 1;
  padding: 15px;
  padding-right: 0;
  transition: 200ms ease;
}

.fa-trash-can {
  margin-left: auto;
  padding: 8px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-trash-can:hover {
  color: #ff0033;
  transition: 200ms ease;
}

.custom-checkbox {
  border: 2px solid var(--text-alt-clr);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 200ms ease;
  cursor: pointer;
}

.fa-circle-check {
  opacity: 0;
}

input[type='checkbox']:checked ~ .custom-checkbox {
  background-color: var(--text-alt-clr);
}

input[type='checkbox']:checked ~ .custom-checkbox .fa-circle-check {
  opacity: 1;
}

input[type='checkbox']:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--accent-clr);
}

input[type='checkbox'] {
  display: none;
}

@media (max-width: 500px) {
  html {
    font-size: 12pt;
  }

  #add-button {
    position: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    height: auto;
  }

  h1 {
    margin-top: 50px;
    font-size: 15vw;
  }
}
