:root {
  --background-clr: #ffe6a7;
  --primary-clr: #bb9457;
  --text-clr: #000000;
  --accent-clr: #d1ffc6;
}

html {
  font-family: 'Happy Monkey', serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-clr);
}

body {
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-clr);
  text-shadow: 2px 2px 2px var(--accent-clr);
}

.container {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todo-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--primary-clr);
  border-radius: 1000px;
  font: inherit;
  color: var(--text-clr);
  caret-color: var(--accent-clr);
}
